{
  "openapi": "3.0.0",
  "info": {
    "title": "TinyHumans API",
    "version": "1.0.0",
    "description": "API documentation for TinyHumans Backend"
  },
  "servers": [
    {
      "url": "https://api.tinyhumans.ai/",
      "description": "The production environment "
    },
    {
      "url": "https://staging-api.tinyhumans.ai/",
      "description": "The staging environment "
    },
    {
      "url": "http://localhost:5005",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from the login endpoint"
      }
    },
    "schemas": {
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Team ID"
          },
          "name": {
            "type": "string",
            "description": "Team name"
          },
          "createdBy": {
            "type": "string",
            "description": "ID of the user who created the team"
          },
          "subscription": {
            "type": "object",
            "properties": {
              "hasActiveSubscription": {
                "type": "boolean"
              },
              "plan": {
                "type": "string",
                "enum": [
                  "FREE",
                  "BASIC",
                  "PRO"
                ]
              },
              "planExpiry": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "stripeCustomerId": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "weeklyBudgetUsd": {
                "type": "number"
              },
              "spentThisWeekUsd": {
                "type": "number"
              },
              "weekStartDate": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WaitlistSnapshot": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "rank": {
            "type": "integer",
            "description": "1-based position, ordered by points DESC then signup order ASC"
          },
          "points": {
            "type": "integer"
          },
          "referralCode": {
            "type": "string"
          },
          "referralLink": {
            "type": "string"
          },
          "product": {
            "type": "string",
            "enum": [
              "tokenmaxxxing",
              "opencompany"
            ],
            "description": "Which list this entry is on. Every count above is scoped to it."
          },
          "totalSpots": {
            "type": "integer",
            "example": 10000
          },
          "totalSignups": {
            "type": "integer"
          },
          "spotsLeft": {
            "type": "integer",
            "description": "Floors at 0; joining past the cap is still allowed"
          },
          "tasks": {
            "type": "object",
            "properties": {
              "referrals": {
                "type": "integer",
                "description": "Confirmed referred joins (uncapped)"
              },
              "referralsAwarded": {
                "type": "integer",
                "description": "Referrals that earned points (capped)"
              },
              "shoutout": {
                "type": "boolean"
              },
              "download": {
                "type": "boolean"
              }
            }
          },
          "shoutoutStatus": {
            "type": "string",
            "enum": [
              "none",
              "pending",
              "awarded",
              "rejected"
            ]
          },
          "downloadStatus": {
            "type": "string",
            "enum": [
              "none",
              "pending",
              "awarded",
              "rejected"
            ]
          },
          "pointsConfig": {
            "type": "object",
            "properties": {
              "referral": {
                "type": "integer",
                "example": 100
              },
              "shoutout": {
                "type": "integer",
                "example": 50
              },
              "download": {
                "type": "integer",
                "example": 75
              },
              "referralCap": {
                "type": "integer",
                "example": 20
              }
            }
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "parameters": {
      "AdminServiceTokenHeader": {
        "in": "header",
        "name": "X-Admin-Service-Token",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Shared admin-service secret. May instead be sent as `Authorization: Bearer <token>`. Required by `adminServiceGate`.\n"
      },
      "AdminActorIdHeader": {
        "in": "header",
        "name": "X-Admin-Actor-Id",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ObjectId of the admin performing the action (for audit attribution)."
      }
    }
  },
  "paths": {
    "/announcements/latest": {
      "get": {
        "summary": "Get the latest active announcement for the signed-in user",
        "description": "Returns the single most recent active announcement whose schedule window contains the current time, or null when none qualifies. Clients surface it once (e.g. on harness init) and track dismissal locally by id.\n",
        "tags": [
          "Announcements"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The latest active announcement, or null.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "nullable": true,
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string",
                          "enum": [
                            "INFO",
                            "WARNING",
                            "CRITICAL"
                          ]
                        },
                        "cta": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "label": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        },
                        "startsAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api-keys": {
      "get": {
        "summary": "List the caller's API keys",
        "description": "Returns key metadata only. The secret is never retrievable after creation.",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's API keys, newest first"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Attempted with an API key rather than a session"
          }
        }
      },
      "post": {
        "summary": "Create an API key",
        "description": "Returns the plaintext key exactly once, in `data.token`. It is stored only as a hash and cannot be recovered afterwards. A key authenticates as its owner, limited to the scopes and IP ranges given here.\nScopes are enforced from the request itself: safe methods need `read`, mutating methods need `write`, anything under `/openai` needs `inference`, and anything under `/agent-integrations/composio` needs `connections`. A key is also pinned to the caller's team at creation.\n`connections` is NOT mintable here: it is granted automatically to a hosted OpenCompany instance, which authenticates with a short-lived audience-bound cluster token rather than a stored secret. Requesting it returns 400.\n",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 120,
                    "example": "CI pipeline"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "read",
                        "write",
                        "inference"
                      ]
                    },
                    "default": [
                      "read"
                    ]
                  },
                  "allowedIps": {
                    "type": "array",
                    "description": "Single IPs and/or CIDR ranges (IPv4 or IPv6). Empty means no IP restriction.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "203.0.113.4",
                      "10.0.0.0/8",
                      "2001:db8::/32"
                    ]
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional expiry, at most 1 year out."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created; `data.token` holds the one-time plaintext key"
          },
          "400": {
            "description": "Invalid name, scope, IP range, or expiry"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Attempted with an API key rather than a session"
          }
        }
      }
    },
    "/api-keys/{keyId}": {
      "delete": {
        "summary": "Revoke an API key",
        "description": "Revocation is immediate and permanent. The record is retained for audit.",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "keyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Attempted with an API key rather than a session"
          },
          "404": {
            "description": "No such key belonging to the caller"
          }
        }
      }
    },
    "/auth/email/send-link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send magic link for email login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "frontendRedirectUri": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link sent"
          },
          "400": {
            "description": "Invalid email or redirect not allowed"
          },
          "401": {
            "description": "Unauthorized - authentication required or invalid token"
          },
          "403": {
            "description": "Forbidden - redirect URI not allowed"
          },
          "404": {
            "description": "Not Found - user or resource not found"
          }
        }
      }
    },
    "/auth/email/verify": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify magic link and complete email login",
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to frontend with JWT"
          },
          "400": {
            "description": "Invalid or expired token"
          },
          "401": {
            "description": "Unauthorized - invalid credentials or session"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not Found - token not found or expired"
          }
        }
      }
    },
    "/auth/login-token/consume": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Exchange a consumable login token for a JWT",
        "description": "Consumes a one-time login token (type=login, consumable=true) and returns a JWT.\nUsed by channel verification flows (e.g. Telegram, email) where the channel produces\na short-lived token that the client then exchanges for a session.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT issued"
          },
          "400": {
            "description": "Invalid, expired, or non-consumable token"
          }
        }
      }
    },
    "/auth/{provider}/login": {
      "get": {
        "summary": "Start OAuth login flow (primary auth)",
        "description": "Redirects unauthenticated user to OAuth provider (e.g. Google, GitHub, Twitter) for sign-in. After callback, user receives JWT via redirect.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "google",
                "github",
                "twitter",
                "discord"
              ]
            }
          },
          {
            "in": "query",
            "name": "redirect",
            "schema": {
              "type": "string",
              "enum": [
                "app",
                "dashboard",
                "admin",
                "cli"
              ]
            },
            "description": "Named redirect target after login (app = desktop, dashboard = website,\nadmin = admin dashboard, cli = terminal).\n`cli` does not redirect: the callback renders a page showing a one-time\nlogin token for the user to paste into a terminal that cannot host the\nloopback listener (e.g. over SSH). The terminal exchanges it via\nPOST /auth/login-token/consume.\n"
          },
          {
            "in": "query",
            "name": "redirectUri",
            "schema": {
              "type": "string"
            },
            "description": "Redirect URI the callback returns to verbatim, with token/error/key appended,\ninstead of the default openhuman:// deep link. Two shapes are accepted:\nan RFC 8252 loopback URI (e.g. http://127.0.0.1:53824/auth?state=...), or an\nhttps URI whose origin is a provisioned hosted OpenCompany tenant\n(e.g. https://acme.opencompany.ai/?company=acme). Anything else is a 400.\n"
          },
          {
            "in": "query",
            "name": "product",
            "schema": {
              "type": "string",
              "enum": [
                "OPENHUMAN",
                "OPENCOMPANY",
                "MEDULLA"
              ]
            },
            "description": "Product this login should be attributed to (tinyhumansai/backend#1214).\nCase-insensitive. Carried through the OAuth state and recorded on the\nuser (sticky, additive) once the callback completes. Omit for no\nattribution.\n"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to OAuth provider"
          },
          "400": {
            "description": "Bad Request - unknown or unsupported provider, redirect origin not allowlisted / invalid redirect URI, or invalid product"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current authenticated user details",
        "description": "Returns the full authenticated user object",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User details retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/channels/{channel}/link-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create a short-lived channel link token for the authenticated user",
        "description": "Generates a short-lived token used to link a Telegram or Discord account to the current authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "discord"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link token created successfully"
          },
          "400": {
            "description": "Unsupported channel"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/integrations": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "List OAuth integrations for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of integrations (id, provider, createdAt; no tokens)"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/integrations/{integrationId}/tokens": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get OAuth tokens for an integration (one-time handoff, encrypted)",
        "description": "Returns tokens from the handoff cache and removes them. Call once after OAuth connect; subsequent calls return 404. Request body must include key (client encryption key, raw 32-byte string, base64, or base64url). Response is success and data.encrypted (base64 ciphertext of accessToken, refreshToken, expiresAt).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{24}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Client encryption key (32-byte raw string, base64, or base64url)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens returned and removed from handoff cache; response data.encrypted is base64 ciphertext."
          },
          "400": {
            "description": "Invalid integration ID or missing key"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Integration does not belong to user"
          },
          "404": {
            "description": "Tokens not available or already retrieved"
          }
        }
      }
    },
    "/auth/integrations/{integrationId}": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke and delete an OAuth integration",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{24}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration revoked"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Integration does not belong to user"
          },
          "404": {
            "description": "Integration not found"
          }
        }
      }
    },
    "/auth/{provider}/connect": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Start OAuth connect flow for a provider",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "responseType",
            "schema": {
              "type": "string",
              "enum": [
                "redirect",
                "json"
              ]
            }
          },
          {
            "in": "query",
            "name": "skillId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success; returns success and data with connect URL or state"
          },
          "400": {
            "description": "Unknown provider or bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/{provider}/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "OAuth callback; completes connect flow (handled by provider redirect)",
        "parameters": [
          {
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Callback handled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/budgets": {
      "get": {
        "summary": "List the authenticated user's BYO subscription seats with live headroom",
        "description": "Each seat is one connected external AI subscription (Claude Max, ChatGPT Pro, Codex…) whose token allowance medulla drains via the user's own harnesses. Returns per-seat window headroom, reset times, throttle state, and the last 7 days of harness token usage.\n",
        "tags": [
          "Budgets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Seats and usage retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/budgets/seats": {
      "post": {
        "summary": "Connect a BYO subscription seat",
        "tags": [
          "Budgets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan"
                ],
                "properties": {
                  "plan": {
                    "type": "string",
                    "description": "Catalog plan id (e.g. claude_max_20x, chatgpt_pro)."
                  },
                  "priority": {
                    "type": "integer",
                    "description": "Lower wins among seats with headroom."
                  },
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Explicit harness agent ids pinned to this seat."
                  },
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Seat connected"
          },
          "400": {
            "description": "Validation failed or duplicate seat"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/budgets/seats/{seatId}": {
      "patch": {
        "summary": "Update a seat's priority, agent pins, or enabled state",
        "tags": [
          "Budgets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "seatId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "priority": {
                    "type": "integer"
                  },
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Seat updated"
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Seat not found"
          }
        }
      },
      "delete": {
        "summary": "Disconnect a seat",
        "tags": [
          "Budgets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "seatId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Seat disconnected"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Seat not found"
          }
        }
      }
    },
    "/channels/{channel}/messages": {
      "post": {
        "summary": "Send a rich message to a user's linked channel",
        "description": "Sends a message through the specified channel (Telegram or Discord) to the authenticated user. Supports text, photos, stickers, animations, and inline buttons.",
        "tags": [
          "Channels"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "discord"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "parseMode": {
                    "type": "string",
                    "enum": [
                      "markdown",
                      "plain"
                    ]
                  },
                  "photoUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "stickerFileId": {
                    "type": "string"
                  },
                  "animationUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "channelId": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "buttons": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "callbackData": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "replyToMessageId": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "threadId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully"
          },
          "400": {
            "description": "Validation error or unsupported channel"
          },
          "401": {
            "description": "Unauthorized"
          },
          "502": {
            "description": "Channel delivery failed"
          }
        }
      }
    },
    "/channels/{channel}/messages/{messageId}": {
      "delete": {
        "summary": "Delete a message from a user's linked channel",
        "description": "Deletes a previously sent message on the specified channel. Only messages the bot sent to the authenticated user's chat can be deleted.",
        "tags": [
          "Channels"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "discord"
              ]
            }
          },
          {
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message deleted successfully"
          },
          "400": {
            "description": "Validation error or unsupported channel"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Message does not belong to the authenticated user"
          },
          "502": {
            "description": "Channel deletion failed"
          }
        }
      }
    },
    "/channels/{channel}/reactions": {
      "post": {
        "summary": "React to a message on a user's linked channel",
        "description": "Sends an emoji reaction to a specific message on the specified channel.",
        "tags": [
          "Channels"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "discord"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messageId",
                  "emoji"
                ],
                "properties": {
                  "messageId": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "emoji": {
                    "type": "string"
                  },
                  "chatId": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reaction sent successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "502": {
            "description": "Channel delivery failed"
          }
        }
      }
    },
    "/channels/{channel}/typing": {
      "post": {
        "summary": "Broadcast a typing indicator on a user's linked channel",
        "description": "Triggers a platform-native typing indicator (Telegram sendChatAction, Discord Trigger Typing Indicator). The indicator is short-lived (~5-10s depending on platform); callers should re-invoke periodically to keep it alive during long operations.",
        "tags": [
          "Channels"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "discord"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chatId": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "threadId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Typing indicator dispatched"
          },
          "400": {
            "description": "Validation error or unsupported channel"
          },
          "401": {
            "description": "Unauthorized"
          },
          "502": {
            "description": "Channel delivery failed"
          }
        }
      }
    },
    "/channels/{channel}/threads": {
      "post": {
        "summary": "Create a new conversation thread",
        "description": "Creates a new thread on the specified channel. For Telegram, this creates a forum topic. For Discord, this creates a DB-tracked thread.",
        "tags": [
          "Channels"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "discord"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 128
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thread created successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "502": {
            "description": "Channel operation failed"
          }
        }
      },
      "get": {
        "summary": "List conversation threads",
        "description": "Returns the authenticated user's threads for the specified channel.",
        "tags": [
          "Channels"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "discord"
              ]
            }
          },
          {
            "in": "query",
            "name": "active",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by active status"
          }
        ],
        "responses": {
          "200": {
            "description": "List of threads"
          },
          "400": {
            "description": "Unsupported channel"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/channels/{channel}/threads/{threadId}": {
      "patch": {
        "summary": "Update a thread's status",
        "description": "Close or reopen a conversation thread.",
        "tags": [
          "Channels"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "discord"
              ]
            }
          },
          {
            "in": "path",
            "name": "threadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "close",
                      "reopen"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thread updated successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "502": {
            "description": "Channel operation failed"
          }
        }
      }
    },
    "/coupons/redeem": {
      "post": {
        "summary": "Redeem a coupon code",
        "tags": [
          "Coupons"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Coupon code in ABCD-EFGH format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redemption result"
          },
          "400": {
            "description": "Invalid or unavailable coupon"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/coupons/me": {
      "get": {
        "summary": "List the current user's redeemed coupons",
        "tags": [
          "Coupons"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of user's redeemed coupons"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/feedback": {
      "post": {
        "summary": "Submit feedback or a bug report (LLM-moderated, rate-limited)",
        "tags": [
          "Feedback"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "title",
                  "body"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "feature",
                      "bug"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "product": {
                    "type": "string",
                    "enum": [
                      "backend",
                      "opencompany",
                      "openhuman",
                      "medulla",
                      "tiny.place",
                      "landing"
                    ],
                    "description": "Optional. The product the feedback was submitted from. Used as the fallback target repo when content-based routing is not confident. An unrecognised value is rejected with 400.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Received but rejected by moderation"
          },
          "201": {
            "description": "Accepted and published to the board"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Daily feedback limit reached"
          }
        }
      },
      "get": {
        "summary": "List feedback on the public board",
        "tags": [
          "Feedback"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "feature",
                "bug"
              ]
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "planned",
                "completed"
              ]
            }
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "hot",
                "top",
                "new"
              ],
              "default": "hot"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of feedback items"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/feedback/validate": {
      "post": {
        "summary": "Check a draft submission's quality tier without submitting it",
        "description": "Dry run for the composer: returns `block`, `warn` or `pass` with a reason, so the hint can be shown as the user types. Deterministic and local — no moderation model call, nothing written, and it does not count against the daily submission limit. POST /feedback applies the same rules, so skipping this cannot get a blocked item onto the board.\n",
        "tags": [
          "Feedback"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "title",
                  "body"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "feature",
                      "bug"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 4000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tier and the reason to show"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many validation requests"
          }
        }
      }
    },
    "/feedback/ingest": {
      "post": {
        "summary": "Ingest feedback from another product into the enrichment pipeline",
        "description": "Shared hub entry point. openhuman / opencompany forward feedback here with their source product so issues route to the correct repo. Moderated and rate-limited like the board.\n",
        "tags": [
          "Feedback"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "title",
                  "body",
                  "product"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "feature",
                      "bug"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "product": {
                    "type": "string",
                    "enum": [
                      "backend",
                      "opencompany",
                      "openhuman",
                      "medulla",
                      "tiny.place",
                      "landing"
                    ]
                  },
                  "origin": {
                    "type": "string"
                  },
                  "externalRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Received but rejected by moderation"
          },
          "201": {
            "description": "Accepted into the pipeline"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Daily feedback limit reached"
          }
        }
      }
    },
    "/feedback/{id}": {
      "get": {
        "summary": "Get a feedback item with its comments",
        "tags": [
          "Feedback"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback item and comments"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Feedback not found"
          }
        }
      }
    },
    "/feedback/{id}/vote": {
      "post": {
        "summary": "Up/down-vote a feedback item (value 0 retracts)",
        "tags": [
          "Feedback"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "integer",
                    "enum": [
                      1,
                      -1,
                      0
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated vote tallies"
          },
          "400": {
            "description": "Invalid vote value"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Feedback not found"
          }
        }
      }
    },
    "/feedback/{id}/comments": {
      "post": {
        "summary": "Comment on a feedback item",
        "tags": [
          "Feedback"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "maxLength": 4000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Feedback not found"
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Health check endpoint",
        "description": "Returns server uptime and status information",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Server is online",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "uptime": {
                          "type": "number",
                          "description": "Server uptime in seconds",
                          "example": 12345.67
                        },
                        "online": {
                          "type": "boolean",
                          "example": true
                        },
                        "message": {
                          "type": "string",
                          "example": "hello world"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/models": {
      "get": {
        "tags": [
          "Inference"
        ],
        "summary": "List available models (subscription inference budget can be used with any listed model)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "with_display",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            },
            "description": "If 1 or true, include display_name and provider per model for UI"
          },
          {
            "in": "query",
            "name": "catalog",
            "schema": {
              "type": "string",
              "enum": [
                "curated",
                "openrouter",
                "all"
              ]
            },
            "description": "Opt-in richer listing. Omit for the default curated payload (unchanged). 'openrouter' lists passthrough models, 'all' lists both. Enables the filter/pagination params below and returns { object, data, total, limit, offset } with pricing as charged (per 1M tokens).\n"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive match on id/display_name (catalog listing only)"
          },
          {
            "in": "query",
            "name": "modality",
            "schema": {
              "type": "string"
            },
            "description": "Require an input modality, e.g. 'image' (catalog listing only)"
          },
          {
            "in": "query",
            "name": "tools",
            "schema": {
              "type": "boolean"
            },
            "description": "Require tool-call support (catalog listing only)"
          },
          {
            "in": "query",
            "name": "max_output_price",
            "schema": {
              "type": "number"
            },
            "description": "Max charged output price per 1M tokens (catalog listing only)"
          },
          {
            "in": "query",
            "name": "author",
            "schema": {
              "type": "string"
            },
            "description": "Filter by author/provider, e.g. 'anthropic' (catalog listing only)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Page size, default 100, max 500 (catalog listing only)"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Page offset, default 0 (catalog listing only)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available models in OpenAI format"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/openai/v1/chat/completions": {
      "post": {
        "tags": [
          "Inference"
        ],
        "summary": "Create a chat completion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "reasoning-v1"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "max_tokens": {
                    "type": "integer"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "function": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    ]
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "Optional caller-supplied conversation identifier. Persisted on the InferenceLog so subsequent logs in the same conversation can be grouped together without inferring the relationship from message content.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response in OpenAI format"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/openai/v1/completions": {
      "post": {
        "tags": [
          "Inference"
        ],
        "summary": "Create a text completion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "reasoning-v1"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "max_tokens": {
                    "type": "integer"
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "Optional caller-supplied conversation identifier. Persisted on the InferenceLog so subsequent logs in the same conversation can be grouped together.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text completion response in OpenAI format"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/openai/v1/audio/transcriptions": {
      "post": {
        "tags": [
          "Inference"
        ],
        "summary": "Transcribe audio to text",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "stt-v1",
                      "whisper-v1"
                    ],
                    "default": "stt-v1",
                    "description": "`stt-v1` (ElevenLabs Scribe) is the default and is billed at a fixed 30% margin on top of ELEVENLABS_STT_USD_PER_HOUR. `whisper-v1` (GMI Whisper) is billed per-minute via the integration registry with the user's tier-based margin.\n"
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO-639-1 language hint (e.g. \"en\"). Auto-detected when omitted."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "json",
                      "text",
                      "srt",
                      "verbose_json",
                      "vtt"
                    ],
                    "default": "json"
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "vad_model": {
                    "type": "string"
                  },
                  "diarize": {
                    "type": "boolean"
                  },
                  "timestamp_granularities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "word",
                        "segment"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription result"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/openai/v1/audio/speech": {
      "post": {
        "tags": [
          "Inference"
        ],
        "summary": "Synthesize speech from text via ElevenLabs (mp3)",
        "description": "Returns audio bytes (default audio/mpeg) generated by ElevenLabs. Billed per character with a fixed 30% margin on the provider base cost — irrespective of the user's subscription tier. Usage and cost are returned via X-OpenHuman-* response headers.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "example": "The first move is what sets everything in motion."
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Voice id. Defaults to ELEVENLABS_DEFAULT_VOICE_ID."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "tts-v1"
                    ],
                    "default": "tts-v1",
                    "description": "Stable, provider-agnostic TTS model id. Mapped to the underlying upstream model internally.\n"
                  },
                  "output_format": {
                    "type": "string",
                    "description": "ElevenLabs output format (e.g. mp3_44100_128)."
                  },
                  "with_visemes": {
                    "type": "boolean",
                    "description": "When true, returns JSON containing base64 audio plus a viseme timeline (Oculus 15-viseme set) and the raw character-level alignment from ElevenLabs. When false (or unset), the response is raw audio bytes.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio bytes",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/openai/v1/embeddings": {
      "post": {
        "tags": [
          "Inference"
        ],
        "summary": "Create text embeddings via Voyage AI",
        "description": "Returns 1024-dimensional embedding vectors by default. Supported models: `embedding-v1` (general purpose, backed by voyage-3.5) and `embedding-code-v1` (code-tuned, backed by voyage-code-3). Billed per input token at the user's subscription-tier margin on top of the Voyage base cost.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "embedding-v1",
                      "embedding-code-v1"
                    ],
                    "example": "embedding-v1"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "description": "A string or array of strings to embed."
                  },
                  "dimensions": {
                    "type": "integer",
                    "enum": [
                      256,
                      512,
                      1024,
                      2048
                    ],
                    "default": 1024
                  },
                  "input_type": {
                    "type": "string",
                    "enum": [
                      "query",
                      "document"
                    ],
                    "description": "Optional retrieval-quality hint for Voyage."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embeddings response in OpenAI format"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/invite/status": {
      "get": {
        "summary": "Check if an invite code is valid and available",
        "tags": [
          "Invite"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite code status"
          }
        }
      }
    },
    "/invite/my-codes": {
      "get": {
        "summary": "List the current user's invite codes with usage info",
        "tags": [
          "Invite"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of user invite codes"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invite/redeem": {
      "post": {
        "summary": "Redeem an invite code",
        "tags": [
          "Invite"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redemption result"
          },
          "400": {
            "description": "Invalid or missing code"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/mascots": {
      "get": {
        "summary": "List available mascots",
        "description": "Returns a summary of every mascot in the server-side library, including\nthe set of states each mascot supports and a natural-language\ndescription per state. Intended for LLM-driven state selection in\nvoice/chat agents and for picker UIs in the frontend / Meet bot.\n",
        "tags": [
          "Mascots"
        ],
        "responses": {
          "200": {
            "description": "List of mascot summaries"
          }
        }
      }
    },
    "/mascots/demo": {
      "get": {
        "summary": "Interactive mascot library demo page",
        "description": "Serves a static HTML page that consumes this same API end-to-end —\npicker, state buttons, viseme chips, palette overrides — so designers\nand integrators can preview every mascot without running a separate\nclient.\n",
        "tags": [
          "Mascots"
        ],
        "responses": {
          "200": {
            "description": "HTML demo page",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/mascots/{id}/riv": {
      "get": {
        "summary": "Download the Rive animation file for a mascot",
        "description": "Serves the binary .riv file for Rive-format mascots. Returns 404 for\nSVG-only mascots or unknown ids. Response is\n`application/octet-stream` with long cache headers.\n",
        "tags": [
          "Mascots"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Binary .riv file",
            "content": {
              "application/octet-stream": {}
            }
          },
          "404": {
            "description": "Mascot not found or not a Rive mascot"
          }
        }
      }
    },
    "/mascots/{id}": {
      "get": {
        "summary": "Get a mascot manifest",
        "description": "Returns the full mascot manifest. For SVG-format mascots, each\nstate in `states[]` ships its own complete `<svg>` snapshot. For\nRive-format mascots, `rivFileUrl` points to the binary .riv file\nand `stateToPose` maps state ids to ViewModel pose numbers.\n",
        "tags": [
          "Mascots"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full mascot manifest"
          },
          "404": {
            "description": "Mascot not found"
          }
        }
      }
    },
    "/mascots/join-meeting": {
      "post": {
        "summary": "Send the mascot bot into a live meeting",
        "description": "Launches a Recall.ai-hosted mascot bot into the given meeting URL.\nAuthentication required. Only paid users (basic/pro) may use this.\nSupports Google Meet, Zoom, Teams, and Webex. Platform is auto-detected\nfrom the URL if not provided.\n",
        "tags": [
          "Mascots"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "meetUrl"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "gmeet",
                      "zoom",
                      "teams",
                      "webex"
                    ]
                  },
                  "meetUrl": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "Name shown in the meeting participant list"
                  },
                  "agentName": {
                    "type": "string",
                    "description": "Name the AI uses in conversation (defaults to displayName or \"OpenHuman\")"
                  },
                  "systemPrompt": {
                    "type": "string",
                    "description": "Custom system prompt for the meeting LLM. Use {{AGENT_NAME}} as a placeholder."
                  },
                  "mascotId": {
                    "type": "string"
                  },
                  "muted": {
                    "type": "boolean",
                    "description": "If true, the bot joins silently (no TTS or welcome prompt)"
                  },
                  "riveColors": {
                    "type": "object",
                    "properties": {
                      "primaryColor": {
                        "type": "string",
                        "description": "Hex color (e.g. \"#FF6B35\") for the mascot's primary color"
                      },
                      "secondaryColor": {
                        "type": "string",
                        "description": "Hex color for the mascot's secondary color"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bot is joining the meeting"
          },
          "400": {
            "description": "Invalid platform / URL, platform not yet supported, or insufficient balance"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/mascots/meetings": {
      "get": {
        "summary": "List the authenticated user's mascot-bot meeting history",
        "tags": [
          "Mascots"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Most-recent-first list of meetings the user dispatched the mascot to"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/medulla/v1/sessions": {
      "post": {
        "summary": "Mint a new interactive session",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "meta": {
                    "type": "object"
                  },
                  "asyncDelegation": {
                    "type": "boolean",
                    "description": "Opt this session in/out of async delegation mode (background fan-out). Omit to inherit the server default.\n"
                  },
                  "flavor": {
                    "type": "string",
                    "enum": [
                      "tui",
                      "openhuman"
                    ],
                    "description": "Hosted flavor bound to the session. Omit for the default (tui). An unknown value is rejected with 400. Selecting openhuman requires a registered device counterpart (the orch:register_tools handshake completed); otherwise 403.\n"
                  },
                  "workspaceProfiles": {
                    "type": "array",
                    "description": "Authored MEDULLA.md profiles for the workspaces this session works over (module 17). Sent as raw file text; the SDK parses it. Bound to the session and applied to every cycle it runs; never merged (each is tagged with its own workspace). Max 16 entries, 20k chars each — an invalid shape is rejected with 400.\n",
                    "maxItems": 16,
                    "items": {
                      "type": "object",
                      "required": [
                        "workspace",
                        "medullaMd"
                      ],
                      "properties": {
                        "workspace": {
                          "type": "string"
                        },
                        "medullaMd": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created"
          },
          "400": {
            "description": "Unknown flavor or invalid workspaceProfiles"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Caller is not authorized for the requested flavor (errorCode FORBIDDEN) — e.g. openhuman without a registered device. Never a silent downgrade.\n"
          }
        }
      },
      "get": {
        "summary": "List the caller's interactive sessions",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session summaries"
          }
        }
      }
    },
    "/medulla/v1/sessions/{id}": {
      "get": {
        "summary": "Session state snapshot",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session state"
          },
          "404": {
            "description": "No such session"
          }
        }
      },
      "delete": {
        "summary": "Archive a session",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived"
          },
          "404": {
            "description": "No such session"
          }
        }
      }
    },
    "/medulla/v1/sessions/{id}/messages": {
      "post": {
        "summary": "Ingest a user message and start a cycle",
        "description": "Persists the user message, appends a host event, and starts a cognitive cycle. Returns 202 with `{cycleId, seq}` immediately; with `?sync=1` it blocks and returns the completed cycle's reply.\n`sync` and `detached` are orthogonal: `sync` decides who waits for the HTTP response, `detached` decides whether the cycle may answer before its delegated tasks finish.\n",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sync",
            "schema": {
              "type": "string"
            },
            "description": "Set to 1 to block for the reply"
          },
          {
            "in": "query",
            "name": "detached",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1",
                "true",
                "false"
              ]
            },
            "description": "Async delegation mode for THIS turn. 1 ⇒ un-flagged `delegate_tasks` calls detach and the cycle answers without draining them (results arrive later on the session stream). 0 ⇒ drain before answering. Omit to inherit the session's mint-time default, then the server default. Applies to this message only, not the session.\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync reply (when ?sync=1)"
          },
          "202": {
            "description": "Accepted; cycle started"
          },
          "400": {
            "description": "Missing message body"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "No such session"
          }
        }
      },
      "get": {
        "summary": "Ordered message replay",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages"
          }
        }
      }
    },
    "/medulla/v1/sessions/{id}/events": {
      "get": {
        "summary": "Persisted event-envelope replay",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event envelopes"
          }
        }
      }
    },
    "/medulla/v1/sessions/{id}/abort": {
      "post": {
        "summary": "Cancel the running cycle for a session",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Abort signal delivered (or no cycle running)"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/medulla/v1/sessions/{id}/stream": {
      "get": {
        "summary": "Live event stream (SSE)",
        "description": "Server-Sent Events stream of the session's event envelopes. Replays persisted envelopes after the `Last-Event-ID` (or `?lastEventId`/`?after`) cursor, then streams live envelopes. EventSource cannot send an Authorization header, so the JWT may also be passed as `?token=`.\n",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lastEventId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/medulla/v1/roster": {
      "get": {
        "summary": "The caller's connected worker roster",
        "description": "Read-only view of the workers currently connected over the harness plane (module 12), mapped to the runtime worker model. The registry id, messaging address, and wallet peer id are kept as distinct fields and are never collapsed. No engine internals are exposed.\n",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Worker records"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/medulla/v1/workflows": {
      "get": {
        "summary": "The caller's advertised workflow catalog",
        "description": "Read-only view of the saved workflow graphs the caller's connected workers advertise over the harness plane. Aggregated across the caller's sockets (last writer wins on a duplicate id) and held in memory, so it is rebuilt on reconnect and empties when the last worker disconnects. This is the HTTP parity view of what the orchestrator itself reads. The graph is never exposed here — only the advert a client published.\n",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The advertised workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "workflows": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "nodeCount"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The id named when delegating or reading"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "nodeCount": {
                                "type": "integer",
                                "description": "Step count - a rough cost signal"
                              },
                              "enabled": {
                                "type": "boolean"
                              },
                              "triggerKind": {
                                "type": "string"
                              },
                              "agentId": {
                                "type": "string",
                                "description": "Server-stamped provenance"
                              },
                              "workspaceId": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/medulla/v1/routing/strategy": {
      "get": {
        "summary": "Read the caller's default-worker routing strategy",
        "description": "The persisted default-worker policy (module 11): `manual` | `balanced` | `cpuFirst` | `memoryFirst`. An unset value reads as `manual`. Strategy selection is backend-side; no engine internals are exposed.\n",
        "tags": [
          "Medulla"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The current strategy"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      },
      "put": {
        "summary": "Set the caller's default-worker routing strategy",
        "description": "Persist the default-worker policy. An unknown value is a hard 400 (never a silent downgrade). Per-task assignment stays least-loaded regardless.\n",
        "tags": [
[...]
